@import "tailwindcss";

@theme {
    --font-sans:
        "DM Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer components {
    .maplibregl-popup-content {
        @apply !rounded-none !shadow-[4px_4px_0px_#000] !border-2 !border-black !px-4 !py-3 !font-sans;
    }
    .maplibregl-popup-close-button {
        @apply text-base text-black;
    }

    .premium-menu {
        @apply fixed right-0 top-0 h-screen w-full max-w-sm bg-[#1C1D20] text-white z-[9999];
        visibility: hidden;
        transform: translateX(100%);
        border-top-left-radius: 100vw;
        border-bottom-left-radius: 100vw;
        will-change: transform, border-radius;
        transition:
            transform 0.8s cubic-bezier(0.65, 0, 0.35, 1),
            border-radius 0.8s cubic-bezier(0.65, 0, 0.35, 1),
            visibility 0.8s;
    }
    .premium-menu.is-open {
        visibility: visible;
        transform: translateX(0);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .premium-menu .menu-fade {
        @apply opacity-0 transition-opacity duration-500 ease-out;
        will-change: opacity;
    }
    .premium-menu.is-open .menu-fade {
        @apply opacity-100 delay-300;
    }

    .premium-menu .menu-item {
        @apply translate-x-12 opacity-0;
        will-change: transform, opacity;
        transition:
            transform 0.6s cubic-bezier(0.16, 1, 0.3, 1),
            opacity 0.6s ease-out;
    }
    .premium-menu.is-open .menu-item {
        @apply translate-x-0 opacity-100;
    }

    .premium-menu.is-open .menu-item:nth-child(1) {
        transition-delay: 0.2s;
    }
    .premium-menu.is-open .menu-item:nth-child(2) {
        transition-delay: 0.3s;
    }
    .premium-menu.is-open .menu-item:nth-child(3) {
        transition-delay: 0.4s;
    }
}
